name: CI

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - depfu
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: secrets usage example
        run: echo ${{secrets.MY_SECRET}}
      - name: install
        run: yarn install
      - name: start-test (for schema generation)
        run: yarn start-test
      - name: generate types
        run: yarn codegen
      - name: typecheck
        run: yarn typecheck
      - name: test
        run: yarn jest

        env:
          CI: true
